.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
EdgeControls.iml
gradle.properties
gradlew
gradlew.bat
compiler.xml
.idea
.gitignore
common.iml
proguard-rules.pro
gradle/wrapper
mobile-release.apk
mobile.iml
wear-release.apk
wear.iml
edge_logo.png
